.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filter {
  width: 300px;
  height: 600px;
}
.filter h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #6495ed;
}
.filter ul > li {
  margin-top: 10px;
  font-size: 16px;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #6495ed;
  color: white;
  text-align: center;
  cursor: pointer;
}
.filter ul > li:not(:last-child):hover {
  background-color: aqua;
}
#products {
  width: 1500px;
  height: 1200px;

  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 250px;
  height: 200px;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  border: 2px solid #505050;
  border-radius: 3px;
  display: none;
  box-shadow: 0 5px 10px rgba(12, 15, 31, 0.4);
}
.show {
  display: block;
}
.btn {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #e0e0e0;
  cursor: pointer;
  background: #6495ed;
}

.btn-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 25px;
}
#price-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
